.container {
    max-width: 800px;
    margin: auto;
}

h1 {
    color: coral;

}

#newTask {
    height: 35px;
    width: 80%;
    border-radius: 5px;
    border: none;
    background-color: cornsilk;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

